.toast {
    position: fixed;
    display: inline-block;
    cursor: pointer;

    padding: 12px 20px;

    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
    background: linear-gradient(135deg, #e9ebed, #e9dcd6);
    
    border-radius: 2px;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

    max-width: calc(50% - 20vw);
    min-width: 15vw;

    /* center */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#active {
    animation: fadeIn 0.5s ease-in;
}

#toast-bottom-success {
    width: 100%;
    height: 2px;
    padding: 2px;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
    background: -webkit-linear-gradient(315deg, #73ff8d, #54f554);
    background: linear-gradient(135deg, #73ff8d, #54f554);
}

#toast-bottom-warn {
    width: 100%;
    height: 2px;
    padding: 2px;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
    background: -webkit-linear-gradient(315deg, #f6ff73, #f5e254);
    background: linear-gradient(135deg, #f6ff73, #f5e254);
}

#toast-bottom-failure {
    width: 100%;
    height: 2px;
    padding: 2px;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
    background: -webkit-linear-gradient(315deg, #ff7373, #f5548f);
    background: linear-gradient(135deg, #ff7373, #f5548f);
}

#toast-bottom-promise {
    width: 100%;
    height: 2px;
    padding: 2px;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(222, 232, 77, 0.3);
    background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
    background: linear-gradient(135deg, #73a5ff, #5477f5);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#fred {
    position: absolute;
    z-index: 20000;
    
    bottom: 0;
    right: 0;

    margin: 0 0;
    transform: translateX(90vw) translateY(20vh) rotateZ(-50deg) scaleX(-1);
    overflow: hidden;
    animation: fredToasty 1.5s ease-out;

    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 100% 100%;
}

@keyframes fredToasty {
    0% {
        transform: translateX(90vw) translateY(-0vh) rotateZ(-50deg) scaleX(-1);
    }

    25% {
        transform: translateX(-10vw) translateY(20vh) rotateZ(-50deg) scaleX(-1);
    }

    60% {
        transform: translateX(-10vw) translateY(20vh) rotateZ(-50deg) scaleX(-1);
    }

    100% {
        transform: translateX(90vw) translateY(-0vh) rotateZ(-50deg) scaleX(-1);
    }
}
