RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^((?s).*)$ index.php?_url=/$1 [QSA,L]
php_value auto_prepend_file /Applications/XAMPP/xamppfiles/htdocs/fredao/api/config.php